/*Table, th, td, tr, thead {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: black;
}*/

.contenedor-br-4{
  border-top: 1px solid white;
  border-bottom: 2px solid white;

}
.contenedor-br-int{
  margin-top: 5px;
  margin-bottom: 5px;
}
.contenedor-btn-crear{
  text-align: right;
}
.contenedor-tabla{
  background-color: gainsboro;
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contenedor-lista{
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contenedor-div-tabla{
  overflow: scroll;
  height: 300px;
  border: 1px solid white;
}
.contenedor-br-4{
  text-align: center;
  vertical-align: middle;
  align-items: center;
}
.contenedor-buscar-edit{
  text-align: center;
  vertical-align: top;
  align-items: center;

  width: 33%;
  margin-left: 33%;
}

.contenedor-btn-back{
  margin-left: 2rem;
  display: inline;
}
.contenedor-buscar{
  text-align: center;
  vertical-align: top;
  align-items: center;
  display:inline-block;
  width: 33%;
  
  margin-right: 1%;
}
.contenedor-plantilla{
  text-align: center;
  vertical-align: top;
  align-items: center;
  width: 65%;
  display:inline-block;
}

.contenedor-br-3{
  
  border-top: 2px solid white;
  border-bottom: 1px solid white;

}
.contenedor-br-3-int{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2rem;

}
.label{
  margin: 0%;
  border: 0ch;
}
.contenedor-label-br-4 Label{
  border-width: 0ch;
  margin: 0%;
}
.boton-primario Button:hover{
  color: #c0f113;
}

.contenedor-botones{
  margin-top: 10px;
  text-align: center;
}
.contenedor-form {
  margin-left: 10%;
  width: 80%;
}
.contenedor-titulo{
  text-align: center;
  margin-bottom: 1rem;
}
.contenedor-etiquetas a{
  background-color: grey;
  display: inline-block;
  padding: .5em .75em;
}
