

.redondeado {
    border-radius: 1em;
}
.box {
    background-color: #567895;
}

.cabecera {
    background-color: blue;
    color: white;
    font-family: Calibri;
    font-size: 16px;
}
.sizeLetra{
    font-size: 10px;
}
.span {
    background-color: rgba(255,255,255,.5);
}