

.coloresprincipales {
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(1, 90, 158);
    color: rgb(255, 255, 255);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
