/*Inicia menu principal de clientes*/
.imgButton {
    height: 75px;
    width: 75px;
    display: inline-block;
}

.checkBoxButton {
    height: 15px;
    width: 15px;
    display: inline-block;
}

.buttonImages {
    margin-right: 10px;
    margin-bottom: 10px;
    height: 150px;
    width: 48%;
    background-color: white;
    text-align: center;
    color: #003462;
    align-items: center;
    cursor: pointer;
    border: 3px solid #003462;
}

    .buttonImages:hover {
        background-color: #003462;
    }


    .buttonImages:active {
        background-color: rgb(1, 90, 158);
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

.contenedor-icono {
    vertical-align: middle;
    font-size: 40px;
}

.contenedor-imagen {
    vertical-align: middle;
}

.contenedor-imagen-icono {
    vertical-align: middle;
    display: inline;
}
/*Termina menu principal de clientes*/
/*Inicia iconos de volver al menu principal*/
.imgIcon {
    height: 20px;
    width: 20px;
    display: inline-block;
}

.buttonIcon {
    margin-right: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    color: white;
    align-items: center;
    border: none;
    background: none;
    display: inline-block;
}

    .buttonIcon:hover {
        background-color: transparent;
    }


    .buttonIcon:active {
        background-color: transparent;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
/*Termina iconos de volver al menu principal*/
.opcionesCuadradas {
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.headerClientes {
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    background-color: #003462;
    color: rgb(255, 255, 255);
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.headerClientesSub {
    flex-direction: row;
    align-items: center;
    background-color: #003462;
    color: rgb(255, 255, 255);
    padding-left: 50px;
    padding-right: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width:1px;
    font-size: 12px;
}

.tab {
    flex-wrap: nowrap;
    overflow-x: auto
}



.buttonSearch {
    color: white;
    display: inline-block;
    margin-left: 10px;
    font-size: 10px;
    width: auto;
    height: auto;
}

.linkConfig {
    padding-left:50%;
    font-size:12px;
    margin-top:0px;
    margin-bottom:0px;
}
.MenuEnlaces{
    padding-right:3%;
    color:#003462;
}

.formSize {
    font-size: 10px;
    border: 2px solid #003462;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 0%;
}

Input[type=text] {
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 10px;
    padding: 2px;
}

.select {
    border: none;
    font-size: 10px;
    padding: 2px;
    text-decoration: none;
    cursor: pointer;
}

.rowStyle {
    font-size: 10px;
    border: 2px solid #003462;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom:1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.rowStyleDir {
    align-content: center;
    overflow: hidden;
    font-size: 10px;
    border: 2px solid #003462;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 5px;
}

.containerButtonStyleFooter {
    margin-top: 10px;
    text-align: right;
}

.buttonStyleFooter {
    display: inline-block;
    margin-left: 10px;
    width: auto;
    height: auto;
    font-size: 10px;
    color: white;
    justify-content: right;
    background: #003462;
    color: #ffffff;
}

.space {
    margin-left: 5px;
}

.divTable {
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 0%;
    padding-bottom: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divFormClientes {
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.containerSearch {
    
    background:gray;
}

.contenedorEstiloEnlaces {
    
    
    padding-left:94%;
}
.Input{
    color:#003462;
}
.labelInputsStyle{
    padding-top:5%;
    padding-bottom:0%;
}
.rowStyleBar4 {
    font-size: 10px;
   
    padding-left: 5%;
    padding-right: 5%;
    
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}