
.imgButton {
    height: 75px;
    width: 75px;
    display: inline-block;
}

.checkBoxButton {
    height: 15px;
    width: 15px;
    display: inline-block;
}

.buttonImages {
    margin-right: 10px;
    margin-bottom: 10px;
    height: 150px;
    width: 170px;
    background-color: darkgray;
    text-align: center;
    color: white;
    align-items: center;
    cursor: pointer;
}

    .buttonImages:hover {
        background-color: lightskyblue;
    }


    .buttonImages:active {
        background-color: rgb(1, 90, 158);
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

.imgIcon {
    height: 20px;
    width: 20px;
    display: inline-block;
}

.buttonIcon {
    margin-right: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    color: white;
    align-items: center;
    border: none;
    background: none;
    display: inline-block;
}

    .buttonIcon:hover {
        background-color: transparent;
    }


    .buttonIcon:active {
        background-color: transparent;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

.opcionesCuadradas {
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.headerClientes {
    margin-top: 0px;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(3 126 221 / 0.55);
    color: rgb(255, 255, 255);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom-color: white;
    border-bottom-style: solid;

}

.headerClientesSub {
    flex-direction: row;
    align-items: center;
    background-color: rgb(3 126 221 / 0.55);
    color: rgb(255, 255, 255);
    padding-left: 50px;
    padding-right: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom-color: white;
    border-bottom-style: solid;
    font-size:12px;
}

.tab {
    flex-wrap: nowrap;
    overflow-x: auto
}



.buttonSearch {
    color: white;
    display: inline-block;
    margin-left: 10px;
    font-size: 10px;
    width: auto;
    height: auto;
}

.linkConfig {
    font-size: 12px;
    color: blue;
    text-align: right;
    white-space: normal;
}

.formSize {
    font-size: 10px;
    border-style: double;
    border-color: gray;
    padding-bottom:2px;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:2px;
}
Input[type=text] {
    
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 10px;
    padding: 2px;
}

.select{
    border: none;
    font-size: 10px;
    padding: 2px;
    text-decoration: none;
    
    cursor: pointer;

}

.rowStyle {
    font-size: 10px;
    border-style: double;
    border-color: gray;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;


}
.rowStyleDir {
    align-content:center;
    overflow: hidden;
    font-size: 10px;
    border-style: double;
    border-color: gray;

    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 5px;
}
.containerButtonStyleFooter {
    margin-top: 10px;
    text-align: right;
}
.buttonStyleFooter {
    display: inline-block;
    margin-left: 10px;
    width: auto;
    height: auto;
    font-size: 10px;
    color: white;
    justify-content: right;
}
.space{
    margin-left:5px;
}