.navegacion {
    padding: 0 0px;
    width: 100%;
    background: white;
<<<<<<< HEAD
    margin: 5px 10px;
=======
    margin: 0px 0px;
>>>>>>> a21adb55950794a79a6e3109c3b7fb5a1490b3d4
    text-align: center;
}

    .navegacion ul {
        list-style: none;
        text-align: center;
    }

.menu > li {
    position: relative;
    display: inline-block;
    text-align: center;
}

    .menu > li > a {
        display: block;
        padding: 15px 20px;
        color: #015a9e;
        text-decoration: none;
        text-align: center;
    }

.menu li a:hover {
    color: #c0f113;
    transition: all .3s;
    text-align: center;
}

.submenu {
    position: absolute;
    background: black;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    transition: opacity 1.5s;
}

    .submenu li a {
        display: block;
        padding: 15px;
        color: #015a9e;
        text-decoration: none;
        text-align: center;
    }

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
    background: white;
    text-align: center;
}
.horizontal-scroll{
    width: 600px;
    height:80px;
    background-color: #fff;
    border:1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    position: relative;
    overflow:hidden;
}
.horizontal-scroll .btn-scroll{
    background-color: #fff;
    color: #999;
    box-shadow: 0 0 10px #999;
    padding: 5px 8px;
    border: 0;
    border-radius:50%;
    margin: 0 5px;
    z-index: 1;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content:center;
   
    background-color:#f9f9f9;
    height:100vh;

}