.navegacion {
    background: #003462;
    text-align: center;
}

.containerul {
    text-align: center;
    padding-bottom: 0%;
    margin-bottom: 0%;
    border-bottom: 1px solid white;
}


    .containerul > li {
        position: relative;
        display: inline-block;
        text-align: center;
    }

        .containerul > li > a {
            padding: 15px 20px;
            color: white;
            text-decoration: none;
            text-align: center;
        }

    .containerul li a:hover {
        color: #c0f113;
        transition: all .3s;
        text-align: center;
    }

.submenu {
    position: absolute;
    color: black;
    width: auto;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    transition: opacity 1.5s;
}

    .submenu li a {
        display: block;
        padding: 15px;
        color: #C7F900;
        text-decoration: none;
        text-align: center;
    }

.containerul li:hover .submenu {
    visibility: visible;
    opacity: 1;
    background: #003462;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #003462;
    height: auto;
    width: auto;
}

.buttonIconOpciones {
    margin-right: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    color: white;
    align-items: center;
    border: transparent;
    background: transparent;
    display: inline-block;
}


.containerNavbar {
    padding-left: 300px;
    padding-right: 300px;
    height: auto;
    width: auto;
}
